/*
 * Filename: src/app/claim-rewards/page.module.css
 * Purpose: Provides specific styles for the claim rewards confirmation page.
 * Change History:
 * C001 - 2025-07-26 : 23:45 - Initial creation.
 * Last Modified: 2025-07-26 : 23:45
 */

.claimDetails {
    text-align: center;
    margin-bottom: var(--space-4);
}

.claimText {
    color: var(--color-text-secondary);
    margin-bottom: var(--space-1);
}

.serviceName {
    font-size: var(--font-size-2xl);
    font-weight: 600;
    margin-bottom: var(--space-1);
}

.rewardAmount {
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-3);
}

.claimSubtext {
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}